:root {
  --red: #e53f71;
  --font_color: #ccd6f6;
  --darker-font: #818aa3;
  --background: #121826;
  --poppins: 'Poppins', sans-serif;
  --source-pro: 'Source Code Pro', sans-serif;
  --border-radius: 5px;
  --transition: .3s;
}